.list-special-abc>ul {
    list-style: initial;
    margin-left: 10px;
}

.list-special-abc>ol {
    list-style: decimal;
    margin-left: 10px;
}

.list-special-abc>ul>li[role="checkbox"] {
    display: flex !important;
    align-items: center;
    justify-self: center;
}

div[role="toolbar"] {
    flex-wrap: wrap;
}